GCP_PROJECT_ID=your-gcp-project-id
GOOGLE_APPLICATION_CREDENTIALS=path/to/sa.json

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_GROUP_ID=kafka-pubsub-bridge

# Pub/Sub
PUBSUB_TOPIC=raw-events
PUBSUB_SUB=projects/your-project/subscriptions/dataflow-events-sub

# BigQuery
BQ_DATASET=streaming_etl

# GCS
GCS_BUCKET=gs://your-project-streaming-etl

# Dataflow
DATAFLOW_REGION=us-central1
WINDOW_SECS=60
