# Pipeline
apache-beam[gcp]>=2.54
confluent-kafka>=2.3
google-cloud-pubsub>=2.18
google-cloud-bigquery>=3.11
google-cloud-storage>=2.10
google-cloud-dataflow>=0.1

# dbt
dbt-bigquery>=1.7

# Airflow
apache-airflow[google]>=2.8

# Utils
python-dotenv>=1.0
pydantic>=2.5

# Dev
pytest>=7.4
pytest-cov>=4.1
black>=23.0
isort>=5.12
flake8>=6.1
